
/*GENERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

.left{
    float: left;
}
.right{
    float:right;
}

/*UTILITIES*/

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.fs-15{
    font-size: 15px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-150 {
    margin-top: 150px;
}

.pt-200 {
    padding-top: 200px;
}

.m-150px {
    margin: 150px 0;
}
p{
    font-weight: 500;
    line-height: 30px;
}

span{
    font-weight: 500;
}

h1{
    font-size: 73px;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
}

hr{
    border:#dcdcde 1px solid ;   
}



/*ICONS*/
.fa-arrow-down{
    font-size: 50px;
    animation: bouncing 0.8s linear infinite alternate;

}

@keyframes bouncing {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(30px);
    }
}


/*HEADER*/

.container{
    width: 70%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.box{
    width: 50%;
    display: inline-block;
    padding: 0 60px;
}

.box:nth-child(2){
    text-align: right;
}


.box ul li a{
    color: #000;
    font-weight: 500;   
}

.box ul li {
    border-bottom:3px solid transparent;
    transition: 1s;
}

.box ul li:hover {
    border-bottom:3px solid #0061ff;
}

.navig{
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px; 
}

.navig img{
   vertical-align: middle;
   width: 120px;
}


    
/*MAIN*/
main{
    background-color:#b4d0e7;
    height: 900px;
}

.banner{
    position: relative;
}

.text{
    width: 25%;
    padding-bottom: 25px;
}


.jumbo{
    width: 75%;
    background-size: cover;
    
}

.jumbo img{
    object-fit: cover;
    width: 100%;
}


/*SECTION*/
.check{
    float: left;
    margin-top: 80px;
}

.check input{
    margin-right: 8px;
    margin-left: 15px;
}


/*TABLE*/
.head-table{
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.table1{
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.table{
    width: 33%;
    height: 1100px;
    border:#dcdcde 1px solid ; 
}

.table:nth-child(2){
    margin: 0 5%;
}

.body-table {
    padding: 60px 40px;
}


.part-1 {
    font-size: 14px;
    font-weight:500;
    line-height: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.part-1 button {
    width: 100%;
}

.list{
    list-style: none;
}

.list li i{
    color: #0061ff;
}

.acquista{
    color: #0061ff;
    font-weight: 600;
}

/*TABLE-END*/

.table-end{
    width: 100%;
    border:#dcdcde 1px solid ; 
    margin-top: 55px;
}

.body-end{
    width: 70%;
    padding: 30px;
}

.body-end-btn{
    width: 30%;
    padding: 30px;
    text-align: right;
}

.body-end-btn button {
    width: 300px;  
}

/*TITLES*/
.title1{
    font-weight: 800;
}


.title2{
    font-size: 35px;
}


.title4{
    padding-bottom: 40px;
    font-weight: 800 !important;
    font-size: 22px;
}

.mese{
    color: #798693;
    font-size:14px ;
}

.line{
    width: 30%;
}

/*BUTTONS*/

.bt-white{
    padding: 8px 20px;
    background-color: #fff;
    border: #000 2px solid;
    font-weight: 500;
    font-size: 16px;
}

.bt-white-reverse{
    padding: 8px 20px;
    background-color: #fff;
    border: #fff 2px solid;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.bt-blue{
    background-color:#0061ff;
    color: #fff !important;
    padding: 8px 20px;
    border: #0061ff;
    font-size: 16px;
}

.acquista{
    color: #0061ff;
    text-decoration: underline;
}


/*PATNER*/
.patner{
    display: inline-block;
}

.pat-sx{
    display: inline-block;
    width: 55%;
}

.pat-sx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pat-dx{
    width: 45%;
    line-height: 35px;
    padding: 80px 50px;
    float: right;
}

.pat-dx h2{
    font-size: 30px;
}

.pat-dx span{
    display: inline-block;
}


/*COLONNE*/
.colonne{
    margin-top: 40px;
    width: 100%;
    display: inline-block;
}

.col{
    width: 30%;
    padding: 25px;
}

.col.central{
    margin: 0 55px;
}

.central{
    float: left;
}


.col-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*BRAND-CUBE*/

.brand-cube{
    width: 100%;
    margin-top: 50px;
    height: 600px;
}

.cube-left{
    width: 30%;
    height: 100%;
}

.cube-center{
    width: 40%;
    height: 100%;
    background-color: #dcdcde;   
}

.cube-right{
    width: 30%;
    height: 100%;
}

.small-cube{
    width: calc(100% / 2);
    height: calc(100% / 2);
    float: left;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-cube img{
    width: 50%;
    object-fit: cover;
    filter: invert(100%);
}


.designit{
    background-color:#a2d39b ;
}

.asu{
    background-color:#61082b ;
}

.florida{
    background-color:#0093ce ;
}

.topps{
    background-color:#ff1c1c ;
}

.bycicle{
    background-color: #d5001f;
}

.hearst{
    background-color:#b4d0e7 ;
}

.lonely{
    background-color: #0d2481;
}

.channel{
    background-color:#ffd830 ;
}

/*CUBE-CENTER*/

.text-cube{
    padding: 50px 50px;
}

.text-cube img{
    width: 30%;
    height: 30%;
}


/*PORTA-DROPBOX*/
.porta-dropbox{
    width: 100%;
    padding: 100px 0;
    margin-top: 0;
    background-color:#b4d0e7; 
}

.destra{
    width: 50%;  
}

.destra button{
    width: 300px;
    margin-top: 15px;  
}

.sinistra{
    color:#61082b ;
    width: 50%;
    font-size: 30px;
}


/*MENU A TENDINA*/
.roll{    
    padding: 80px 0;
}

.roll ul  li{    
    line-height: 80px;
    font-weight: 700;
    padding-left: 0px;
    list-style: none;
}

.arrow-down {
    float: right;
    font: 700;
    line-height: 80px;
    margin-right: 70px;
}

/*FOOTER*/


.foot{
    width: 100%;
    padding: 100px 0;
    background-color: #000;
    color: #fff;
    display: inline-block;
}

.contact{
    width: calc(100% / 5);
    height: 100%;
    display: inline-block; 
    line-height: 25px; 
    text-align: left;     
}

.contact h3 {
    font-size: 22px;
    padding-bottom: 30px;
}

.marker{
    font-size: 16px;
    list-style: none;
}

.foot-language {
    width: 30%;
    padding: 50px 0 0 0;
}



