
/*GENERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}


/*HEADER*/


.container::after{
    content: "";
    display: table;
    clear: both;
     
}

.container{
    width: 100%;
    margin: 0;
    height: 100px;
    line-height: 100px;

}

.box{
    display: inline-block;
    
}


li{
    display: inline-block;
    text-decoration: none;
}

.left{
    float: left;
}
.right{
    float:right;
}

/*MAIN*/


.container1{
    width: 100%;
    height: 700px;
    margin-top: 0;
    background-color:#b4d0e7;
    position: relative;
}

.banner{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

h1{
    font-size: 73px;
    padding-bottom: 50px;
}

.text{
    width: 25%;
    padding-bottom: 25px;
}

.link{
    padding-top: 25px;
    text-decoration: underline;
}

.jumbo{
    position: absolute;
    width: 50%;
    height: 50%%;
    background-size: cover;
    transform: translate(70%,-50%);
    z-index: 2;
}

/*BIG CONTAINER*/

.table1::after{
    content: "";
    display: table;
    clear: both;
}

.big-container{
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
    
}

/*SECTION*/

.title2{
    font-size: 30px;
}

.PT50{
    padding-top: 50PX;
}

.PB50{
    padding-bottom: 50PX;
}

.check{
    float: left;
    height: 100px;
}

/*TABLE*/
.table1{
    margin-top: 150px;
}

.table{
    width: 30%;
    height: 1100px;
    border:#dcdcde 1px solid ;   
}

.center{
    float: right;
}

.right{
    float: right;
    margin: 0 55px;
}

/*HEAD TABLE*/

.head-table{
    height: 50px;
    line-height: 50px;
    text-align: center;
}

hr{
    border:#dcdcde 1px solid ;   
}

/*BODY TABLE*/

.body-table{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
    font-weight: 600;
}

.part-1 {
    font-size: 14px;
    font-weight:500;
    line-height: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
}

h2 h3{
    font-weight: 800;
}


.mese{
    color: #798693;
    font-size:14px ;
}

.line{
    width: 30%;
}

.bt-white{
    width: 200px;
    height:35px ;
    background-color: #fff;
    border: #000 1px solid;

}
.bt-blue{
    background-color:#0061ff;
    color: #fff;
    height: 35px;
    width: 100%;
    padding: 60px auto;
    border: #0061ff;
}

.acquista{
    color: #0061ff;
    text-decoration: underline;
}

/*TABLE-END*/

.table-end{
    width: 100%;
    height: 300px;
    border:#dcdcde 1px solid ; 
    display: inline-block;
    margin-top: 55px;

}

.dx{
    float: right;
    width: calc(27%);
    
}

/*PATNER*/

.patner{
    padding-top: 200px;
    height: 500px;
    display: inline-block;

}

.pat-sx{
    background-image: url(../htmlcss-dropbox/img/partner.png);
    display: inline-block;
    background-position: center;
    background-size: cover;
    width: 55%;
    height: 500px;
}

.pat-dx{
    width: 45%;
    height: 500px;
    line-height: 35px;
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    float: right;
}


/*COLONNE*/


.colonne{
    margin-top: 80px;
    width: 100%;
    display: inline-block;
}

.col{
    background-color: bisque;
    width: 30%;
    height: 600px;
}

.central{
    float: right;
}

.right{
    float: right;
}

/*BRAND-CUBE*/

.brand-cube::after{
    content: "";
    display: table;
    clear: both;
}

.brand-cube{
    width: 100%;
    margin-top: 50px;
    height: 400px;
    display: inline-block;
}

.cube-left{
    width: 30%;
    height: 400px;
    display: inline-block;
}

.cube-center{
    width: 40%;
    height: 400px;
    background-color: #dcdcde;
    display: inline-block;
    
}

.cube-right{
    background-color: cadetblue;
    width: 30%;
    height: 400px;
    display: inline-block;
}

.small-cube{
    width: 50%;
    height: 200px;
    display: inline-block;
    float: left;
    
}

.brand-img{
    width: 50%;
    height: 50%;
    object-fit: fill;
    transform: translate(+50%,+50%);
    filter: invert(100%);
}

.designit{
    background-color:#a2d39b ;
}

.asu{
    background-color:#61082b ;
}

.florida{
    background-color:#0093ce ;
}

.topps{
    background-color:#ff1c1c ;
}

.bycicle{
    background-color: #d5001f;
}

.hearst{
    background-color:#b4d0e7 ;
}

.lonely{
    background-color: #0d2481;
}

.channel{
    background-color:#ffd830 ;
}

/*CUBE-CENTER*/

.text-cube{
    padding: 50px 50px;
}

.des{
    width: 30%;
    height: 30%;
}

.porta-dropbox{
    width: 100%;
    height:700px;
    margin-top: 0;
    background-color:#b4d0e7; 
}


/*PORTA-DROPBOX*/

.sx{
    color:#61082b ;
    width: 50%;
    font-size: 30px;
    padding-left: 180px;
    transform: translate(0,70%);
}

.dx{
    width: 50%;
    height: 700px;
   
}


.bt-dx{
    border:#fff 1px solid;
 
}

